.btn {
    display: block;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 10px 50px;
    font-size: 15px;
    width: 75%;
    max-width: 350px;
    background: rgba(0, 0, 0, 0.3);    
    color:  #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;    
    cursor: pointer;
}

.btn:hover {
    background: rgb(0,1,0, 0.5);
    transition: all 0.2s ease-in;
}