.btn {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 60px;
    font-size: 20px;
    width: 80%;
    max-width: 350px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0,0,0);
    color:  #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;    
    cursor: pointer;
}

.btn:hover {
    background: rgb(0,1,0, 0.5);
    transition: all 0.2s ease-in;
}
.label {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 25px;
  }

  .wrapper {
      display: flex;
      justify-content: center;
      margin: 25px auto;
      align-items: center;
      border: 1px solid;
      width: 100%;
      max-width: 350px;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.3);
  }

  